.container-menu {
  position: fixed;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 27.5px 20px 0 20px;
  @media screen and (min-width: 768px) {
    padding: 20px 20px 0 20px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.container-header-menu {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    height: 43px;
  }
}
.burger-logo {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    width: 156px;
    height: 43px;
  }
}
.btn-vector-burger {
  background-color: #ffffff;
  border: none;
  display: block;
  position: absolute;
  right: 23px;
  top: 27.5px;
  @media screen and (min-width: 768px) {
    right: 16px;
    top: 24px;
  }
}
.btn-toggle-burger {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: $textColorWhite;
  font-family: $ffPoppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $accentColor;
  border: none;
  @media screen and (min-width: 768px) {
    margin-left: 60px;
    gap: 12px;
    font-size: 18px;
    line-height: 1.33;
  }
}
.toggle-burger-dark {
  color: #202025;
}
.search-burger {
  display: flex;
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.btn-search-burger {
  border: 1px solid $accentColor;
  border-right: none;
  cursor: pointer;
  width: 40px;
  background-color: $textColorWhite;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-search-burger {
  padding: 8px;
  outline: none;
  border: 1px solid $accentColor;
  width: 240px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  &:focus {
    fill: $accentColor;
  }
}

.input-search-burger::placeholder {
  font-family: $ffPoppins;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #5f6775;
  opacity: 0.4;
}
.header-list-burger {
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    margin-top: 54px;
  }
}
.header-list-burger__item {
  margin-bottom: 32px;
  justify-content: center;
  display: flex;
}

.header-list-burger__link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 0.86;
  letter-spacing: 0.02em;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
