.container-menu {
  position: fixed;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 27.5px 20px 0 20px;
  @media screen and (min-width: 768px) {
    padding: 20px 20px 0 20px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.container-header-menu {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    height: 43px;
  }
}
.burger-logo {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    width: 156px;
    height: 43px;
  }
}
.btn-vector-burger {
  background-color: #fcfcfc;
  border: none;
  display: block;
  position: absolute;
  right: 23px;
  top: 27.5px;
  @media screen and (min-width: 768px) {
    right: 16px;
    top: 24px;
  }
}

.search-burger {
  display: flex;
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.btn-search-burger {
  border: 1px solid $accentColor;
  border-right: none;
  cursor: pointer;
  width: 40px;
  background-color: $textColorWhite;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-search-burger {
  padding: 8px;
  outline: none;
  border: 1px solid $accentColor;
  width: 240px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  &:focus {
    fill: $accentColor;
  }
}

.input-search-burger::placeholder {
  font-family: $ffPoppins;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #5f6775;
  opacity: 0.4;
}
.header-list-burger {
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    margin-top: 54px;
  }
}
.header-list-burger__item {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
  }
}

.header-list-burger__link {
  font-family: $ffPoppins;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 0.86;
  letter-spacing: 0.02em;
  color: #000000;
  text-decoration: none;
  align-items: center;
  display: flex;
  gap: 8px;
}

.container-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.header-list-burger-menu {
  position: absolute;
  width: 212px;
  height: 98px;
  border: 1px solid $accentColor;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  border-radius: 4px;
}

.header-list-burger-menu__link {
  text-decoration: none;
  font-family: $ffPoppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  padding: 12px;
  color: #000000;
  border-radius: 4px;
  display: block;
}

// TOGGLE =============================

.toggle-burger {
  display: flex;
  align-items: center;
  margin-left: 50px;

  @media screen and (min-width: 768px) {
    margin-left: 115px;
    padding-left: 0;
  }
}

.burger-switch__input,
.burger-switch__label {
  position: absolute;
  z-index: 1;
}

.burger-switch__input {
  opacity: 0;
  width: 40px;
  left: 70px;
  z-index: 2;
  @media screen and (min-width: 768px) {
    left: 38%;
    width: 40px;
  }
}

.burger-switch__label {
  margin-right: 70px;
  outline: 1px solid #fd5103;
  position: relative;
  width: 40px;
  height: 16px;
  border-radius: 50px;
  text-align: center;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    height: 20px;
  }

  &::before,
  &::after {
    position: absolute;
    transform: translate3d(0, -50%, 0);
    top: 50%;
    font-family: $ffPoppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
  }

  &::before {
    content: 'Light';
    right: 100%;
    margin-right: 8px;
    color: #fd5103;
    @media screen and (min-width: 768px) {
      margin-right: 12px;
    }
  }

  &::after {
    content: 'Dark';
    left: 100%;
    margin-left: 8px;
    color: #5f6775;
    @media screen and (min-width: 768px) {
      margin-left: 12px;
    }
  }

  .burger-switch {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    width: 100%;
  }

  .burger-switch::after {
    position: absolute;
    top: calc(100% + 12px);
    left: 2px;
    width: 12px;
    height: 12px;
    content: '';
    border-radius: 50%;
    background-color: #fd5103;
    transition: transform 200ms, background-color 200ms;
    box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
    @media screen and (min-width: 768px) {
      width: 16px;
      height: 16px;
    }
  }
}

.burger-switch__input:checked ~ .burger-switch__label {
  background: #fd5103;
  outline: 1px solid #fcfcfc;

  &::before {
    color: #fcfcfc;
  }

  &::after {
    color: #fd5103;
  }

  .burger-switch::after {
    transform: translate3d(23px, 0, 0);
    background: #fcfcfc;
    @media screen and (min-width: 768px) {
      transform: translate3d(20px, 0, 0);
    }
  }
}
