p {
  font-family: $ffRoboto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }

  @media screen and (min-width: 1280px) {
    justify-content: space-between;
  }
}
.menu-open {
  background-color: #fff;
  border: none;
  display: block;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header-list {
  display: none;
  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 60px;
    margin-right: 251px;
  }
}

.header-list__link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #202025;
}
.header-navigation {
  display: flex;
  align-items: flex-end;
}
.header-navigation__link {
  @media screen and (min-width: 768px) {
    margin-right: 190px;
    width: 156px;
    height: 43px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 43px;
  }
}
.position-search {
  display: flex;
  justify-content: flex-end;
}
.search {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 172px;
  }
}

.btn-search {
  height: 40px;
  width: 40px;
  display: block;
  background-color: #fff;
  border: 1px solid #fd5103;
}
.input-search {
  height: 40px;
  border: 1px solid #fd5103;
  width: 248px;
}

.input-search:placeholder-shown {
  padding-left: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #5f6775;
  opacity: 0.4;
}

.toogle {
  display: none;
  @media screen and (min-width: 1280px) {
    visibility: visible;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #ffffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    color: #fd5103;
    border: none;
  }
}
.toogle-dark {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  color: #5f6775;
}
