.coctails-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 320px;
  height: 100%;
  min-height: 956px;

  padding: 40px 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 822px;
    min-height: 598px;

    padding: 40px 28px;
  }
}

.coctails-close-btn {
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color: rgba($color: #000000, $alpha: 0);
  cursor: pointer;

  &:focus {
    outline-color: $accentColor;
  }

  @media screen and (min-width: 768px) {
    top: 12px;
    right: 12px;
  }
}

.modal__icon {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  fill: $textColorBlack;

  @media screen and (min-width: 768px) {
    top: 0px;
    right: 0px;
  }
}

.coctails-modal__title {
  margin-bottom: 20px;

  font-family: $ffRoboto;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.18;
  color: $textColorBlack;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 40px;
    left: 288px;
    order: 2;
    width: 400px;
    height: 37px;
    margin-bottom: 28px;
    margin-left: 32px;

    color: $texttColorBlackModal;
  }
}

.coctails-modal__sub-title {
  margin-bottom: 20px;

  font-family: $ffPoppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: $textColorBlack;

  @media screen and (min-width: 768px) {
    color: $texttColorBlackModal;
  }
}

.coctails-modal__instruction {
  width: 280px;
  margin-bottom: 32px;

  font-family: $ffPoppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: $textColorGray;

  @media screen and (min-width: 768px) {
    width: 615px;
  }
}

.coctails-modal__img {
  margin-bottom: 22px;

  border-radius: 4px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    order: 1;

    width: 288px;
    height: 320px;
  }
}

.coctails-modal__ingr {
  margin-bottom: 8px;

  font-family: $ffPoppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: $textColorBlack;

  @media screen and (min-width: 768px) {
    color: $texttColorBlackModal;
  }
}

.coctails-modal__compound {
  margin-bottom: 8px;

  font-family: $ffPoppins;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: $textColorBlack;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.coctails-modal__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.coctails-modal__item {
  margin-left: 10px;
  list-style-type: '✶';

  font-family: $ffPoppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $texttColorBlackModal;

  @media screen and (min-width: 768px) {
    list-style-type: '✶';
  }
}

.add-to-favorite {
  width: 185px;
  height: 48px;
  cursor: pointer;

  font-family: $ffRoboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  border: none;
  border-radius: 4px;

  color: #fcfcfc;
  background: $accentColor;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 40px;
    right: 28px;
    order: 5;
    color: $textColorWhite;
  }
}

.remove-from-favorite {
  width: 248px;
}

.remove-order3 {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 105px;
    left: 322px;
    order: 3;
    width: 400px;
    height: 191px;
    // margin-left: 32px;
  }
}

.remove-order4 {
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 348px;
    left: 28px;
    order: 4;
  }
}
