  <div class="container-menu">
    <button class="toogle" type="button">
      Light
      <svg width="30" height="16">
        <use href="./images/toggle.svg#icon-Toggle"></use>
      </svg>
      <span class="toogle-dark">Dark</span>
    </button>
    <button>
      <svg>
        <use></use>
      </svg>
    </button>
    <form class="search-burger-menu">
      <button type="submit" class="btn-search-menu">
        <svg width="24" height="24" class="search-icon-menu">
          <use href="./images/search.svg#icon-bx_search"></use>
        </svg>
      </button>
      <input
        class="input-search-menu"
        type="text"
        name="searchQuery"
        placeholder="Search"
      />
    </form>
    <ul class="header-list-menu">
        <li class="header-list__item-menu">
          <a href="" class="header-list__link-menu">Home</a>
        </li>
        <li class="header-list__item-menu">
          <a href="" class="header-list__link-menu">Favorite</a>
  </div>