<section class="coctails">
  <div class="container">
    <h2 class="coctails__title">Cocktails</h2>
    <ul class="coctails__list">
      <li class="coctails__item">
        <picture class="coctails__picture">
          <source
            srcset="
              ./images/mountain-bramble-desktop.jpg    1x,
              ./images/mountain-bramble@2x-desktop.jpg 2x,
              ./images/mountain-bramble@3x-desktop.jpg 3x
            "
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./images/mountain-bramble-tablet.jpg    1x,
              ./images/mountain-bramble@2x-tablet.jpg 2x,
              ./images/mountain-bramble@3x-tablet.jpg 3x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/mountain-bramble-mob.jpg    1x,
              ./images/mountain-bramble@2x-mob.jpg 2x,
              ./images/mountain-bramble@3x-mob.jpg 3x
            "
            media="(min-width: 320px)" />
          <img
            src="./images/mountain-bramble-mob.jpg"
            alt="Negroni"
            width="280"
            class="coctails__image"
        /></picture>
        <div class="coctails-info">
          <p class="coctails__name">Negroni</p>
          <div class="coctails__btn">
            <button type="button" class="info__btn learn-more-btn">
              Learn more
            </button>
            <button type="button" class="info__btn add-to-btn">
              Add to<svg class="coctails__icon" width="18" height="18">
                <use href="./images/coctails-icon.svg#disactive-heart"></use>
              </svg>
            </button>
            <!-- <button type="button" class="info__btn remove-btn">
              Remove<svg class="coctails__icon" width="18" height="18">
                <use href="./images/coctails-icon.svg#active-heart"></use>
              </svg>
            </button> -->
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
